<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    Criar Tarefa

    <form action="/Tarefa/Create" method="POST">

        <label>Nome</label>
        <input type="text" name="Nome"/>

        <br/>

        <button>Salvar</button>

    </form>

    <a href="/Tarefa/Index">Listar</a>
</body>

</html>