@using TarefaWeb.Models
@model List<Tarefa>

<html>
    <head>
        <title>Tarefas</title>
    </head>

    <body>
        <h2>Lista Tarefas</h2>

        <form action="/Tarefa/Search" method="POST">
            <input type="text" name="palavra"/>
            <button>Pesquisar</button>
        </form>

        <table>

            @foreach(Tarefa t in Model)
            {
            <tr>
                <td>@t.Nome</td>
                <td>@t.Concluida</td>
            </tr>
            }

        </table>
        
        <a href="/Tarefa/Create">Criar</a>
    </body>
</html>